<div class="card">
    <img src="{{@BASE}}{{@ASSET_THEME}}img/page404.jpg" class="card-img-top">
    <div class="card-body">
        <p> {{ @ERROR.text }} </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Error code: {{ @ERROR.code }}</li>
            <li class="list-group-item">Error status: {{ @ERROR.status }}</li>
            <li class="list-group-item">Error level: {{ @ERROR.level }}</li>
        </ul>
    </div>
</div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, adipisci? Officiis quasi at magnam sit unde optio consequatur earum, qui quaerat natus doloribus distinctio! Quibusdam iure dicta temporibus. Rerum, enim.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsam reprehenderit voluptatibus nulla necessitatibus eius maiores, magni amet eum ipsa quod voluptate optio labore omnis iure ratione provident suscipit odit?
