<!--  **** FOOTER Theme TEMPLATE FILE ****  -->
<footer class="container-fluid text-white bg-dark">
    <div class="row">
        <div class="col-sm">
            <div class="card bg-transparent">
                <h5 class="card-header">COMPANY INFO</h5>
                <div class="card-body py-1">
                    <p class="card-text">Home</p>
                    <p class="card-text">About</p>
                    <p class="card-text">Blog</p>
                    <p class="card-text">Contact Us</p>
                </div>
            </div>
        </div> <!--  END COOL -->
        <div class="col-sm">
            <div class="card bg-transparent">
                <h5 class="card-header">MY ACCOUNT</h5>
                <div class="card-body py-1">
                    <p class="card-text">My Account</p>
                    <p class="card-text">Login</p>
                    <p class="card-text">Signup</p>
                    <p class="card-text">View Cart</p>
                </div>
            </div>
        </div> <!--  END COOL -->
        <div class="col-sm">
            <div class="card bg-transparent">
                <h5 class="card-header">CATEGORY</h5>
                <div class="card-body py-1">
                    <p class="card-text">Post</p>
                    <p class="card-text">Page</p>
                    <p class="card-text">Archive</p>
                    <p class="card-text">News</p>
                </div>
            </div>
        </div><!--  END COOL -->
        <div class="col-sm">
            <div class="card bg-transparent">
                <h5 class="card-header">FOLLOW US</h5>
                <div class="card-body  py-1 px-0">

	<ul class="list-group list-group-flush bg-dark">
		<li class="list-group-item d-flex justify-content-around bg-dark py-1">
			<a href="#" class="card-link ml-0"><img src="{{@BASE}}{{@ASSET_THEME}}img/facebook32.png" alt=""></a>
			<a href="#" class="card-link ml-0"><img src="{{@BASE}}{{@ASSET_THEME}}img/linkedin32.png" alt=""></a>
			<a href="#" class="card-link ml-0"><img src="{{@BASE}}{{@ASSET_THEME}}img/twitter32.png" alt=""></a>
			<a href="#" class="card-link ml-0"><img src="{{@BASE}}{{@ASSET_THEME}}img/youtube32.png" alt=""></a>
		</li>
		<li class="list-group-item bg-dark py-1"><a href="{{ @BASE }}{{ 'contact'| alias }}" class="btn btn-block btn-sm btn-outline-light" role="button" aria-pressed="true"><i class="far fa-envelope"></i></a></li>
	<li class="list-group-item d-flex justify-content-center bg-dark py-1">
	</li>
    </ul>
</div>
</div>
</div><!--  END COOL -->
    </div> <!-- /.row -->
    <div class="row  down text-white text-center ">
        <div class="col-12 p-2">
            © Copyright {{ @APP_NAME }} {{ @APP_VERSION }}  by {{ @AUTHOR }} 2019-{{date('Y')}}
        </div>
    </div> <!-- /.row -->
</footer><!-- End container -->
<!-- <button type="button" class="btn btn-primary scroll_btn rounded-circle"><i class="fas fa-chevron-up"></i></button> -->
<!-- jQuery -->
<script src="{{@BASE}}{{@ASSET_SITE}}js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{@BASE}}{{@ASSET_SITE}}js/bootstrap.bundle.min.js"></script>
<!--   main_js Core JavaScript -->
<script src="{{@BASE}}{{@ASSET_THEME}}js/js_theme.js"></script>
<!--CODE SAMPLE PRISM highlight Core JS -->
<script src="{{@BASE}}{{@ASSET_THEME}}js/prism.js"></script>
</body>
</html>
