<!-- Admin BlogPOST Edit HTM file  -->
<div class="row">
<div class="col-12">
    <form id="edit_post"  class="p-3 was-validated" action = "" method="POST" novalidate>
        <!--  INPUT  hidden token  defenden CSRF ATTAkS-->
        <input type="hidden" name="token" value="{{ @CSRF }}"/>
        <div class="form-row">
            <div class="col-md-9 p-2">
                <div class="card-header">
                    <h5>Редактирование записи</h5>   
                    </div>
                <!-- TITLE POST  -->
                    <div class="form-group">
                        <label for="title">Заголовок</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fas fa-heading"></i></span>
                            </div>
                                <input id="title" name="title" type="text" class="form-control slug"
                                placeholder="Заголовок поста" minlength="4"  maxlength="200" pattern="^[a-zA-Zа-яА-Я0-9\s?!\.,:()\']+$"
                                value="{{ @post[0].title }}" required>
                                <div class="invalid-feedback">Буквы, цифры !?,.-:</div>
                        </div>
                    </div>
                    <!-- SLAG POST  -->
                    <button type="button" class="btn btn-outline-info btn-sm mb-2" onclick="slugGenerate()" disabled>Генерировать
                        слаг</button>
                        <div class="form-group">
                        <label for="slug">Ярлык для ссылки</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fas fa-signature"></i></span>
                            </div>
                                <input id="slug" name="slug" type="text" class="form-control"
                                value="{{ @post[0].slug }}" pattern="[A-Za-z0-9-]+" disabled>
                                <div class="invalid-feedback">Только en буквы и цифры и дефис </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea id="mytextarea" name="content" >{{ @post[0].content }}</textarea>
                    </div>
            </div>   <!-- END COL -->
  <!-- *********** SIDEBAR ****************************** -->
            <div id = "admin_sidebar" class="col-md-3 p-3">
                <!--  =========  INPUT POST TYPE ========  -->
                <div class="form-group">
                    <label for="type">Тип поста</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fab fa-typo3"></i></span>
                        </div>
                        <select  name="type" id="type">
                        <check if="{{ @post[0].type == 1 }}">
                            <true>
                                <option selected="selected" value = "1">post</option>
                                <option  value = "2">media</option>
                            </true>
                            <false>
                                <option  value = "1">post</option>
                                <option selected="selected" value = "2">media</option>
                            </false>
                        </check>
                        </select>
                    </div>
                </div>
                <!--  =========  INPUT POST STATUS ========  -->
                <div class="form-group">
                    <label for="status">Статус поста</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fab fa-usps"></i></span>
                        </div>
                        <select  name="status" id="status">
                            <check if="{{ @post[0].status == 1 }}">
                                <true>
                                    <option selected="selected" value = 1>Опубликовано</option>
                                    <option  value = 2>Черновик</option>
                                </true>
                                <false>
                                    <option  value = 1>Опубликовано</option>
                                    <option selected="selected" value = 2>Черновик</option>
                                </false>
                            </check>
                        </select>
                    </div>
                </div>
                <!--  =========  INPUT POST USER AUTHOR ========  -->
                <div class="form-group">
                    <label for="user_id">Автор поста</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <select  name="user_id" id="user_id">
                            <repeat group="{{ @users }}" value="{{ @user }}">
                                <check if="{{ @user.id == @post[0].user_id }}">
                                    <true>
                                        <option  value = "{{ @user.id }}" selected>{{ @user.login }}</option>
                                    </true>
                                    <false>
                                    <option  value = "{{ @user.id }}">{{ @user.login }}</option>
                                    </false>
                                </check>
                            </repeat>
                        </select>
                    </div>
                </div>
                <!--  =========  INPUT POST USER CATEGORIES      ========  -->
                <div class="form-group">
                    <label for="cat_id">Категория</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-signature"></i></span>
                        </div>
                        <select  name="cat_id" id="cat_id">
                            <repeat group="{{ @cats }}" value="{{ @cat }}">
                                <check if="{{ @cat.id == @post[0].cat_id }}">
                                    <true>
                                        <option  selected='selected' value ="{{ @cat.id }}">{{ @cat.name }}</option>
                                    </true>
                                    <false>
                                        <option  value = "{{ @cat.id }}">{{ @cat.name }}</option>
                                    </false>
                                </check>
                            </repeat>
                        </select>
                    </div>
                </div>
                <!--  =========  INPUT POST DATE ========  -->
                <div class="form-group">
                    <label for="date">Дата публикации</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                            <input id="date" name="date" type="date" class="form-control"
                            value ="{{ @post[0].date}}" required>
                            <div class="invalid-feedback">data</div>
                    </div>
                </div>
				<!--  =========  INPUT POST CHANCHE DATE ========  -->
					  <input name="changed" type="hidden" class="form-control"  value = "{{date('Y-m-d')}}">
                <!--  =========  INPUT POST THRUMB ========  -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text"><i class="fas fa-thumbtack"></i></span>
                    </div>
                    <input name="thrumb" id="thrumb" type="text"  value ="{{ @post[0].thrumb }}"  class="form-control" readonly>
                </div>
                <div class="form-group mt-2 text-center">
                        <img id="content_thrumb" class="img-thumbnail"
                        src="{{ @BASE }}/{{@UPLOADS }}thrumb_s/{{ @post[0].thrumb }}" alt="" />
                        <button type="button" id="add_thrumb" class="mt-3 btn btn-sm btn-outline-success btn-block"><i
                                class="fas fa-save"></i> Вставить миниатюру</button>
                    </div>
                    <button type="submit" name="post_edit" class="btn btn-sm btn-outline-success btn-block"><i
                            class="fas fa-save"></i> Edit Post</button>
            </div>  <!-- END COL md-3 -->
        </div> <!-- END FORM ROW -->
    </form><!--End Add post-->
</div> <!-- END COL -->
</div><!-- END  ROW -->
<include href="admin/templates/media_modal.htm"/>
