<!-- ***** Admin CATegories ALL HTM file **** -->
<div class="row">
<div class="col-12">
<a href="{{ @BASE }}{{ @ALIASES.catcreate }}" class=" m-2 btn btn-sm btn-outline-success">Новая категория</a>
</div>
</div>
<div class="row">
    <div class=" col-12 form-error bg-danger text-white mt-2 text-center">
        <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="message {{ @msg.status }}">
                {{ @msg.text | esc }}
            </div>
        </repeat>
    </div>
</div>
<div class="row">
<div class="table-responsive p-3 border">
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Имя</th>
        <th scope="col">Слаг</th>
        <th scope="col">Parent</th>
        <th scope="col"><i class="far fa-edit"></th>
        <th scope="col"><i class="far fa-trash-alt"></th>
    </tr>
    </thead>
<tbody>
    <repeat group="{{ @cats }}" key="{{ @id }}" value="{{ @cat }}">
        <tr>
            <td>{{ @id }}</td>
            <td>{{ @cat.name }}</td>
            <td>{{ @cat.slug }}</td>
            <check if="{{ @cat.parent == 0 }}">
                <true>
                    <td>нет</td>
                </true>
                <false>
                    <td>{{ @cats[@cat.parent].name }}</td>
                </false>
            </check>
            <td><a href="{{ @BASE }}{{ 'catedit', 'item =' . @id  | alias }}"><i class="far fa-edit"></a></td>
            <td><a href="{{ @BASE }}{{ 'catdel', 'item =' . @id  | alias }}"><i class="far fa-trash-alt"></a></td>
        </tr>
    </repeat>
</tbody>
</table>
</div>
</div>