<!-- FatFree Framework Variable Link Info  HTM File-->
<h2>Informations FatFree Framework</h2>
<div class="alert alert-info" role="alert">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://fatfreeframework.com/3.6/home" target="_blank" rel="noopener noreferrer">
                Fat-Free Framework
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://codepen.io/TristanDee/pen/VGXmKN" target="_blank" rel="noopener noreferrer">
                slaider Bootstrap
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/vlucas/valitron" target="_blank" rel="noopener noreferrer">
                Valitron: Easy Validation That Doesn't Suck
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://jobec.ru/blog/fat-free-frejmvork-polnoe-opisanie/" target="_blank"
                rel="noopener noreferrer">
                Fat-Free Framework RUSSIA
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/vlucas/valitron" target="_blank" rel="noopener noreferrer">
                Valitron: Easy Validation That Doesn't Suck
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/randomphp/validation" target="_blank" rel="noopener noreferrer">
                randomphp/validation
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://www.code-sample.com/2019/03/fat-free-php-framework-interview.html" target="_blank"
                rel="noopener noreferrer">
                fat-free-php-framework-interview
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/davidecesarano/Validation" target="_blank" rel="noopener noreferrer">
                Simple PHP class for Validation
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://www.w3programmers.com/crud-with-fat-free-framework/" target="_blank"
                rel="noopener noreferrer">
                CRUD with Fat Free Framework
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/YoeriNijs/ViennaCMS" target="_blank" rel="noopener noreferrer">
                ViennaCMS
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://braincasecreations.com/2017/08/21/tinymce-custom-file-picker/" target="_blank"
                rel="noopener noreferrer">
                TinyMCE Custom File Picker
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/camohub/jquery-sortable-lists" target="_blank" rel="noopener noreferrer">
                github Jquery sortable lists
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://camohub.github.io/jquery-sortable-lists/" target="_blank" rel="noopener noreferrer">
                Jquery sortable lists the documentation.
            </a>
        </li>
    </ul>
</div>
<div class="card">
    <div class="card-header">
        <h4 class="text-primary"> System Variables in Fat-Free Framework</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="badge badge-success">AGENT:</span>&nbsp;&nbsp;{{@AGENT}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ALIAS:</span>&nbsp;&nbsp;{{@ALIAS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ALIASES:</span>&nbsp;&nbsp;{{@ALIASES}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">AUTOLOAD:</span>&nbsp;&nbsp;{{@AUTOLOAD}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">BASE:</span>&nbsp;&nbsp;{{@BASE}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">BODY:</span>&nbsp;&nbsp;{{@BODY}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">CACHE:</span>&nbsp;&nbsp;{{@CACHE}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">CASELESS:</span>&nbsp;&nbsp;{{@CASELESS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">CLI:</span>&nbsp;&nbsp;{{@CLI}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">CONTAINER:</span>&nbsp;&nbsp;{{@CONTAINER}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">COOKIE:</span>&nbsp;&nbsp;{{@COOKIE}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">GET:</span>&nbsp;&nbsp;{{@GET}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">POST:</span>&nbsp;&nbsp;{{@POST}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">REQUEST:</span>&nbsp;&nbsp;{{@REQUEST}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">SESSION:</span>&nbsp;&nbsp;{{@SESSION}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">FILES:</span>&nbsp;&nbsp;{{@FILES}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">SERVER:</span>&nbsp;&nbsp;{{@SERVER}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ENV:</span>&nbsp;&nbsp;{{@ENV}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">CORS:</span>&nbsp;&nbsp;{{@CORS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">DEBUG:</span>&nbsp;&nbsp;{{@DEBUG}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">DIACRITICS:</span>&nbsp;&nbsp;{{@DIACRITICS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">DNSBL:</span>&nbsp;&nbsp;{{@DNSBL}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">EMOJI:</span>&nbsp;&nbsp;{{@EMOJI}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ENCODING:</span>&nbsp;&nbsp;{{@ENCODING}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ERROR:</span>&nbsp;&nbsp;{{@ERROR}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ESCAPE:</span>&nbsp;&nbsp;{{@ESCAPE}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">EXEMPT:</span>&nbsp;&nbsp;{{@EXEMPT}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">EXCEPTION:</span>&nbsp;&nbsp;{{@EXCEPTION}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">FALLBACK:</span>&nbsp;&nbsp;{{@FALLBACK}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">FORMATS:</span>&nbsp;&nbsp;{{@FORMATS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">FRAGMENT:</span>&nbsp;&nbsp;{{@FRAGMENT}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">HALT:</span>&nbsp;&nbsp;{{@HALT}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">HEADERS:</span>&nbsp;&nbsp;{{@HEADERS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">HIGHLIGHT:</span>&nbsp;&nbsp;{{@HIGHLIGHT}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">HOST:</span>&nbsp;&nbsp;{{@HOST}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">IP:</span>&nbsp;&nbsp;{{@IP}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">JAR:</span>&nbsp;&nbsp;{{@JAR}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">LANGUAGE:</span>&nbsp;&nbsp;{{@LANGUAGE}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">LOCALES:</span>&nbsp;&nbsp;{{@LOCALES}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">LOGS:</span>&nbsp;&nbsp;{{@LOGS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ONERROR:</span>&nbsp;&nbsp;{{@ONERROR}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ONREROUTE:</span>&nbsp;&nbsp;{{@ONREROUTE}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">PACKAGE:</span>&nbsp;&nbsp;{{@PACKAGE}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">PARAMS:</span>&nbsp;&nbsp;{{@PARAMS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">PATH:</span>&nbsp;&nbsp;{{@PATH}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">PATTERN:</span>&nbsp;&nbsp;{{@PATTERN}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">PLUGINS:</span>&nbsp;&nbsp;{{@PLUGINS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">PORT:</span>&nbsp;&nbsp;{{@PORT}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">PREFIX:</span>&nbsp;&nbsp;{{@PREFIX}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">PREMAP:</span>&nbsp;&nbsp;{{@PREMAP}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">QUERY:</span>&nbsp;&nbsp;{{@QUERY}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">QUIET:</span>&nbsp;&nbsp;{{@QUIET}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">RAW:</span>&nbsp;&nbsp;{{@RAW}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">REALM:</span>&nbsp;&nbsp;{{@REALM}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">RESPONSE:</span>&nbsp;&nbsp;{{@RESPONSE}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ROOT:</span>&nbsp;&nbsp;{{@ROOT}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">ROUTES:</span>&nbsp;&nbsp;{{@ROUTES}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">SCHEME:</span>&nbsp;&nbsp;{{@SCHEME}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">SEED:</span>&nbsp;&nbsp;{{@SEED}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">SERIALIZER:</span>&nbsp;&nbsp;{{@SERIALIZER}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">TEMP:</span>&nbsp;&nbsp;{{@TEMP}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">TIME:</span>&nbsp;&nbsp;{{@TIME}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">TZ:</span>&nbsp;&nbsp;{{@TZ}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">UI:</span>&nbsp;&nbsp;{{@UI}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">UNLOAD:</span>&nbsp;&nbsp;{{@UNLOAD}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">UPLOADS:</span>&nbsp;&nbsp;{{@UPLOADS}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">URI:</span>&nbsp;&nbsp;{{@URI}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">VERB:</span>&nbsp;&nbsp;{{@VERB}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">VERSION:</span>&nbsp;&nbsp;{{@VERSION}}
        </li>
        <li class="list-group-item">
            <span class="badge badge-success">XFRAME:</span>&nbsp;&nbsp;{{@XFRAME}}
        </li>
    </ul>
</div>
<div class="card">
    <div class="card-header">
        <h4 class="text-primary">Template Directives</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="badge badge-success">AGENT:</span>&nbsp;&nbsp;{{@AGENT}}
        </li>
</div>