<!-- *Loop post PAGE POST htm file  * -->
<div id="blog_post" class="card  mb-4">
    <h4 class="card-header pb-2">{{ @page[0].title }}</h4>
    <div class="card-body">
        <a class="d-block text-center" href="#">
            <img class="img-fluid" src="{{ @BASE }}/{{@UPLOADS }}{{@page[0].thrumb }}" alt="">
        </a>
        <hr>
        <span class="pl-2 pt-3 card-text">{{ @page[0].content|RAW }}</span>
    </div> <!-- card-body -->
    <div class="card-footer">
        <span class="mr-1"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;{{ @page[0].date }}</span>
        <span class="mr-1"><i class="fas fa-user-edit"></i>&nbsp;&nbsp;{{ @page[0].author }}</span>
    </div>
</div> <!-- END card  -->